---
---

@import 'bootstrap';
@import 'mixins';
@import 'highlights';


@import 'post';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

a {
    @include prefix(transition, color .1s);
    &:hover {
      text-decoration: none;
      color: lighten($link-color, 15%);
    }
}

body {
  margin-top: $navbar-height+11px;
  margin-bottom: $footer-height+20px;
}

.navbar-brand {
  font-size: 18px;
  line-height: 19px;

  img {
    float: left;
    margin-right: 8px;
  }
  b {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    &.flip {
      -moz-transform: scaleX(-1);    /* Gecko */
      -o-transform: scaleX(-1);      /* Operah */
      -webkit-transform: scaleX(-1); /* webkit */
      transform: scaleX(-1);         /* standard */
      filter: FlipH;                 /* IE 6/7/8 */
    }
  }
  #brandname {
    @include prefix(transition, all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
    @include prefix(transition-timing-function, cubic-bezier(0.645, 0.045, 0.355, 1.000));
    @include prefix(transform, translateX(-111%));
    opacity: 0;
    float: left;
    width: 120px;
    z-index: -1;
    color: #fff;
    &.animated {
      color: $gray-darker;
      opacity: 1;
    @include prefix(transform, translateX(0%));

    }
  }
}

footer {
  background-color: $gray-lighter;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  a {
    @include prefix(transition, color 300ms);

    color: #999999;
    font-size: 22px;
    position: relative;
    margin-top: 2px;
  }
  .row {
    margin: 20px 0;
  }
  .text-muted {
    padding-top: 7px;
    i {
      font-size: 16px;
    }
  }
  .social {
    padding-top: 3px;
    a {
      text-align: center;
      display: block;
      float: left;
      width: 32px;
    }
  }
}

iframe[id^="cp_embed"] {
  border-width: 0 1px 4px 1px;
  border-color: #e7e7e7;
}

@import 'dark';


// @import 'vendor/animate.css/animate.min.css';
