<!-- START footer.html -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5 text-muted">
        <i class="fa fa-toggle-off"></i> Switch <span class="hidden-xs">Color </span>Scheme
      </div>
      <div class="col-xs-7">
        <div class="social pull-right">
          <a href="//github.com/elliotboney"><i class="fa fa-github-square"></i></a>
          <a href="//facebook.com/elliotboney"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.linkedin.com/profile/view?id=52548305"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://plus.google.com/+ElliotBoney"><i class="fa fa-google-plus-square"></i></a>
          <a href="//twitter.com/elliotboney"><i class="fa fa-twitter-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

<script>
  var $textmuted = $('.text-muted');
  var $icon = $textmuted.find('i');
  var schemeDark = localStorage.getItem('schemeDark') == null ? false : localStorage.getItem('schemeDark') === "true";
  if (schemeDark) {
    console.log(schemeDark);
    $('html').addClass('dark');
    $icon.addClass('fa-toggle-on').removeClass('fa-toggle-off');
  }
  var toggleColorScheme = function() {
    if (!!schemeDark) {
      console.log('schemedark is true, turn off');
      $('html').removeClass('dark');
      $icon.addClass('fa-toggle-off').removeClass('fa-toggle-on');
      schemeDark = false;
    } else {
      console.log('schemedark is false, turn on');
      $('html').addClass('dark');
      $icon.addClass('fa-toggle-on').removeClass('fa-toggle-off');
      schemeDark = true;
    }
    localStorage.setItem('schemeDark',schemeDark);
    console.log('localstorage is now: '+localStorage.getItem('schemeDark',schemeDark));
  };

      // Toggle the color scheme
      $textmuted.on('click', toggleColorScheme);

      $(function() {

        var pathname = window.location.pathname;

        $("#elliot-nav li.dropdown a").each(function(index) {
          var $this = $(this);
          if (pathname.toUpperCase().indexOf($this.attr('href').toUpperCase()) != -1) {
            $this.parent().addClass("active");
            $this.closest('.dropdown').addClass("active");
          }
        });

        if ($("li.active").length === 0) {
          $("a#index").parent().addClass("active");
        }

        var $brandName = $('#brandname');

        $('#elliot-nav').on('mouseover', function(e) {
          $brandName.addClass('animated slideInLeft');
        }).on('mouseout', function(e) {
          $brandName.removeClass('animated slideInLeft');
        });


        /**
         * Disable links for disabled pagination
         */
         var $disabledPage = $('#pager').find('li.disabled');
         if ($disabledPage.length) {
          $disabledPage.find('a').on('click', function() {
            return false;
          });
        }


      });
</script>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
<!-- //END footer.html -->
