<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#elliot-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img id="brandimg" src="{{ site.baseurl }}/assets/img/favicon-96x96.png" height="20" width="20" />
            <div id="brandname"><b class="flip">E</b>lliot<b>B</b>oney</div>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="elliot-nav">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="index" href="{{ site.baseurl }}/">Home</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Posts <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for p in site.posts %}{% include menu_item.html %}{% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for p in site.pages %}{% include menu_item.html %}{% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
