#fourofour, html.dark {

  .entry-meta-date {
    color: lighten($brand-primary, 25%);
  }

  .btn.read-more {
    color: $gray-dark;
    &:hover {
      color: $link-color;
      margin-bottom: 1px;
      margin-top: 1px;
    }
  }

  #pager {
    background: $gray;
  }
  article {
    p {
    color: #fff;
  }
    a {
      color: desaturate(lighten($link-color, 35%), 50%);
      &:hover {
        color: lighten($link-color, 25%);
      }
    }
  }

  .highlight {
    background-color: lighten($gray-light, 30%);
    border-color: $gray-dark;
  }

  body {
    background: $gray;
    color: lighten(invert($gray), 25%);
  }

  nav, .dropdown-menu {
    background: $gray-dark;
    border-color: $gray-darker;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
  }

  #brandimg {
    -webkit-filter: invert(1);
  }

  #brandname {
    &.animated {
      color: #fff;
    }
  }

  footer {
    background-color: $gray-dark;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: invert($headings-color);
  }

  .navbar-nav > li.active,
  li.dropdown.active {
    a {
      color: #fff;
    }
  }

}
