// LAbels
.entry-meta-date {
  .label {
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 2px;
    display: block;
    width: 50%;
  }
}

.label {
  @extend .label-default;
  font-family: 'Crimson Text';
  transition: all .3s;
  &:hover {
    color: #999999;
    background-color: lighten(#999999, 35%);
  }
}

.label-design {
  background-color: $orange;
  &:hover {
    color: $orange;
    background-color: lighten($orange, 25%);
  }
}

.label-js {
  background-color: $brand-info;
  &:hover {
    color: $brand-info;
    background-color: lighten(desaturate($brand-info, 10%), 25%);
  }
}

.label-sass {
  background-color: $brand-primary;
  &:hover {
    color: $brand-primary;
    background-color: lighten(desaturate($brand-primary, 20%), 45%);
  }
}

.tags {
  position: relative;
  top: -1px;
}

.featimgwrap {
  margin-top: 30px;
}

.border {
  background: none repeat scroll 0 0 #999999;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 300px;
  margin-bottom: 25px;
  margin-top: 12px;
  @include mq(xs) {
    margin-bottom: 12px;
  }
}

.xs-date {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  color: $brand-primary;
  font-family: $headings-font-family;
}

.entry-meta-date {
  color: $brand-primary;
  font-family: $headings-font-family;
  span {
    text-align: center;
    display: block;
  }
  .date-d {
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 22px;
  }
  .date-m {
    font-size: 18px;
    font-weight: 400;
  }
}

.read-more-wrap {
  width: 100px;
  margin: 0 auto;
}
a.read-more {
  // @include mq(xs) {
    // display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 100px;
  // }
}


article {
  overflow: auto;
  h1 {
    font-size: 2.4em;
  }
  p {
    font-size: 20px;
    color: $gray-dark;
    line-height: 1.8;
  }
  &.summary {
    margin-bottom: 40px;
    &.bordered {
      border-top: 1px solid $gray-lighter;
      margin-top: 20px;
      padding-top: 20px;
    }
    p {
      @include mq(xs) {
       text-align: justify;
     }
   }
   h2 {
    text-align: center;
    a {
      transition: color .4s;
      color: $gray;
      &:hover {
        color: $link-color;
      }
    }
    small {
      margin-top: 8px;
    }
  }
  div.entry {
    margin-bottom: 20px;
  }
}
}

html#post {
  h1, h2 {
    text-align: center;
  }
}

.headmeta {
  text-align: center;
  h1, h2 {
    margin-bottom: 0;
  }
  .author {
    margin-left: 3px;
  }
  .date, .author {
    color: #CCCCCC;
  }
}
